body{
    margin: 0;
    padding: 0;
    background-color: #000000 ;
}

.riemann{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.riemann h3{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #00c00a ;
    margin-bottom: 40px;
    padding: 13px 0;
}
.numero {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 2px solid #00c00a ;
}
.numero input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 280px;
    float: left;
    margin: 0 10 px;
}
input[type=submit] {
    width: 100%;
    background: none;
    border: 2.5px solid  #00c00a ;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}